@font-face {
    font-family:nue;
    src: url(../NeueHaasDisplayRoman.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nue;
}
html , body{
    height: 100%;
    width: 100%;
}

#page1{
height: 100vh;
width: 100%;
background: #EAE0D6;
position: relative;
padding:0 2vw;
}

nav{
    padding: 1vw 2vw;
    width: 100%;
    /* background: #EAE0D6; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2{
   
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #8c8a8aaa;
    border-radius: 50px;
    font-weight: 500;
    font-size: 17px;
    color:#000000a9;
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
}

/* 
animation */
.nav-part2 h4::after{
    content:"";
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom:-100%;
    border-radius: 50%;
    transition: all ease 0.5s;
    
}

.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a{
    color: black;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

.nav-part2 h4 a:hover{
    color: white;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    gap:6vw;
}

/* login and sign up */
.nav-parta{
    display: flex;
    align-items: center;
    gap:1vw;
}

/* for signup */
.nav-parta h4{
    padding: 10px 20px;
    /* border: 1px solid #8c8a8aaa;
    border-radius: 50px; */
    font-weight: 500;
    font-size: 17px;
    color:#000000a9;
    
    position: relative;
    overflow: hidden;
    
}

.nav-parta h4 a{
    color: black;
    text-decoration: none;
    z-index: 8;
    position: relative;
}

/* 
for login page */
.login-button{
    
        padding: 10px 20px;
        border: 1px solid #8c8a8aaa;
        border-radius: 50px;
        font-weight: 500;
        font-size: 17px;
        color:#000000a9;
        transition: all ease 0.4s;
        position: relative;
        overflow: hidden;
        background: #000;
}

.nav-parta .login-button a{
    color: white;
    text-decoration: none;
    z-index: 9;
    position: relative;
}



#center{
    height: 65vh;
    width: 100%;
    /* background: orange; */
    display: flex;
    align-items: flex-end ;
    justify-content: space-between;
    /* gap: 22vw; */
    border-bottom: 1px solid #0000003c;
    padding-bottom:2.5vw;
}

#left h3{
    width:25vw ;
    font-size:1.8vw ;
    line-height:2vw;
}



